header.site-header {
  height: 276px;
  background-image: url(https://images.ctfassets.net/ypnen50raqm5/4aaQNx3pWzqS7ubPFebLu4/e6b9529e25553a50bb872a4eff484834/446B14E6-E6CF-4CC4-800F-AC8D535F8D76.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-color: rgb(220, 185, 42);
}
